#customBtn, #customBtnFac {
    width: 100%;
    font-weight: bold;
    border-radius: 0.375rem;
    padding: 0.75rem 1rem;
    background-color: transparent;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  #customBtn:hover, #customBtnFac:hover  {
    transform: translateY(-1px) scale(1.1);
    background-color: #000d6b;
    color: white;
  }
  
  #customBtn:focus, #customBtnFac:focus {
    box-shadow: none;
    transform: translateY(0.5px) scale(1.1);
  }
  
  #customBtn svg, #customBtnFac svg{
    width: 2rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-warning-600 {
    color: #ff0000;
  }
  
  .dark .text-warning-500 {
    color: #ff922b;
  }
  
  .font-medium {
    font-weight: 500;
  }
  